[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/openusd"]
	path = third_party/openusd
	url = https://github.com/PixarAnimationStudios/OpenUSD.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/cgltf"]
	path = third_party/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "third_party/MikkTSpace"]
	path = third_party/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace
[submodule "third_party/magic_enum"]
	path = third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
